[Unit]
Description=Gunicorn server for SITENAME

[Service]
Restart=on-failure
User=zyz
WorkingDirectory=/home/zyz/sites/SITENAME/source
ExecStart=/home/zyz/sites/SITENAME/virtualenv/bin/gunicorn --bind unix:/tmp/SITENAME.socket SITENAME.wsgi:application

[Install]
WantedBy=multi-user.target
